@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

@font-face {
  font-family: "FontAwesome5FreeSolid";
  src: url('../fonts/Font\ Awesome\ 5\ Free-Solid-900.otf') format("opentype");
}
.Configurator .title {
    background-color    : rgba(255, 255, 255, 0.0);
    top                 : 51%;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0;
    left                : 13%;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Noto Sans", Helvetica, Arial, serif;
    font-weight         : 700;
    font-style          : normal;
    font-size           : 2vw;
    color               : rgba(51, 51, 51, 1.0);
    text-align          : left;
    line-height         : 50.0px;
  }

  .Configurator .titleline {
    background-color    : rgba(255, 255, 255, 0.0);
    top                 : 57%;
    height              : 0.75%;
    width               : 23%;
    position            : absolute;
    margin              : 0;
    left                : 13%;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
  }

  .Configurator .wrenchicon {
    background-color    : rgba(255, 255, 255, 0.0);
    top                 : 52%;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0;
    left                : 9%;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "FontAwesome5FreeSolid", Helvetica, Arial, serif;
    font-size           : 3vw;
    color               : rgba(100, 100, 100, 1.0);
    text-align          : left;
    line-height         : 48.0px;
  }

  .Configurator .droplabel1 {
    background-color    : rgba(255, 255, 255, 0.0);
    top                 : 60%;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0.1%;
    left                : 9%;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Noto Sans", Helvetica, Arial, serif;
    font-weight         : 400;
    font-style          : normal;
    font-size           : 1.85vw;
    color               : rgba(0, 0, 0, 1.0);
    text-align          : left;
    line-height         : 33.0px;
  }
  .Configurator .droplabel2 {
    background-color    : rgba(255, 255, 255, 0.0);
    top                 : 60%;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0;
    left                : 30%;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Noto Sans", Helvetica, Arial, serif;
    font-weight         : 400;
    font-style          : normal;
    font-size           : 1.85vw;
    color               : rgba(0, 0, 0, 1.0);
    text-align          : left;
    line-height         : 33.0px;
  }

  .Configurator .droplabel3 {
    background-color    : rgba(255, 255, 255, 0.0);
    top                 : 60%;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0;
    left                : 45%;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Noto Sans", Helvetica, Arial, serif;
    font-weight         : 400;
    font-style          : normal;
    font-size           : 1.85vw;
    color               : rgba(0, 0, 0, 1.0);
    text-align          : left;
    line-height         : 33.0px;
  }

  .Configurator .droplabel4 {
    background-color    : rgba(255, 255, 255, 0.0);
    top                 : 60%;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0;
    left                : 62%;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Noto Sans", Helvetica, Arial, serif;
    font-weight         : 400;
    font-style          : normal;
    font-size           : 1.85vw;
    color               : rgba(0, 0, 0, 1.0);
    text-align          : left;
    line-height         : 33.0px;
  }

  .Configurator .sizedrop {
    background-color    : rgba(255, 255, 255, 0.0);
    top                 : 64%;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0.1%;
    left                : 9%;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Noto Sans", Helvetica, Arial, serif;
    font-weight         : 400;
    font-style          : normal;
    font-size           : 2.1vw;
    color               : rgba(51, 51, 51, 1.0);
    text-align          : left;
    line-height         : 49.0px;
    z-index             : 1;
  }

  .Configurator .colordrop {
    background-color    : rgba(255, 255, 255, 0.0);
    top                 : 64%;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0.1%;
    left                : 30%;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Noto Sans", Helvetica, Arial, serif;
    font-weight         : 400;
    font-style          : normal;
    font-size           : 2.1vw;
    color               : rgba(51, 51, 51, 1.0);
    text-align          : left;
    line-height         : 49.0px;
    z-index             : 1;
  }
  .Configurator .slattdrop {
    background-color    : rgba(255, 255, 255, 0.0);
    top                 : 64%;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0.1%;
    left                : 45%;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Noto Sans", Helvetica, Arial, serif;
    font-weight         : 400;
    font-style          : normal;
    font-size           : 2.1vw;
    color               : rgba(51, 51, 51, 1.0);
    text-align          : left;
    line-height         : 49.0px;
    z-index             : 1;
  }
  .Configurator .matressdrop {
    background-color    : rgba(255, 255, 255, 0.0);
    top                 : 64%;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0.1%;
    left                : 62%;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Noto Sans", Helvetica, Arial, serif;
    font-weight         : 400;
    font-style          : normal;
    font-size           : 2.1vw;
    color               : rgba(51, 51, 51, 1.0);
    text-align          : left;
    line-height         : 49.0px;
    z-index             : 1;
  }


  .Configurator .productimage {
    background-color    : rgba(255, 255, 255, 0.0);
    top                 : 73%;
    height              : 26%;
    width               : 90.5%;
    position            : absolute;
    margin              : 0.1%;
    left                : 9%;
    overflow            : hidden;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
  }

  .Configurator .productimage .mask {
    background-color    : rgba(255, 255, 255, 0.0);
    top                 : 25%;
    height              : auto;
    width               : 80%;
    position            : relative;
    margin              : 1%;
    left                : 0%;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
  }

  .Configurator .productimage .image {
    background-color    : rgba(255, 255, 255, 0.0);
    top                 : -100%;
    height              : auto;
    width               : 85%;
    position            : absolute;
    margin              : 1%;
    left                : -4%;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
  }