@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

@font-face {
  font-family: "FontAwesome5FreeSolid";
  src: url('../fonts/Font\ Awesome\ 5\ Free-Solid-900.otf') format("opentype");
}

.Header .producttype {
    background-color    : rgba(255, 255, 255, 0.0);
    top                 : 3%;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0.1%;
    left                : 9%;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Noto Sans", Helvetica, Arial, serif;
    font-weight         : 400;
    font-style          : normal;
    font-size           : 1.5vw;
    color               : rgba(0, 0, 0, 1.0);
    text-align          : left;
    line-height         : 33.0px;
  }

  .Header .productname {
    background-color    : rgba(255, 255, 255, 0.0);
    top                 : 5%;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0.1%;
    left                : 9%;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Noto Sans", Helvetica, Arial, serif;
    font-weight         : 700;
    font-style          : normal;
    font-size           : 4vw;
    color               : rgba(0, 0, 0, 1.0);
    text-align          : left;
    line-height         : 98.0px;
  }

  .Header .price {
    background-color    : rgba(255, 255, 255, 0.0);
    top                 : 12%;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0.1%;
    left                : 9%;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Noto Sans", Helvetica, Arial, serif;
    font-weight         : 700;
    font-style          : normal;
    font-size           : 6vw;
    color               : rgba(0, 0, 0, 1.0);
    text-align          : left;
    line-height         : 132.0px;
  }
  .Header .optionsdisclaimer {
    background-color    : rgba(255, 255, 255, 0.0);
    top                 : 25%;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0.1%;
    left                : 9%;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Noto Sans", Helvetica, Arial, serif;
    font-weight         : 400;
    font-style          : italic;
    font-size           : 1.2vw;
    color               : rgba(100, 100, 100, 1.0);
    text-align          : left;
    line-height         : 24.0px;
  }

  .Header .rating {
    background-color    : rgba(255, 255, 255, 0.0);
    top                 : 28%;
    height              : auto;
    width               : 60%;
    position            : absolute;
    margin              : 0.1%;
    left                : 9%;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "PingFangSC-Semibold", Helvetica, Arial, serif;
    font-size           : 2vw;
    color               : rgba(100, 100, 100, 1.0);
    text-align          : left;
    line-height         : 50.0px;
  }

  .Header .productdescription {
    background-color    : rgba(255, 255, 255, 0.0);
    top                 : 35%;
    height              : auto;
    width               : 55%;
    position            : absolute;
    margin              : 0.1%;
    left                : 9%;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Noto Sans", Helvetica, Arial, serif;
    font-weight         : 400;
    font-style          : normal;
    font-size           : 1.5vw;
    color               : rgba(0, 0, 0, 1.0);
    text-align          : justify;
    line-height         : 28.0px;
  }

  .Header .newicon {
    background-color    : rgba(255, 255, 255, 0.0);
    top                 : 5%;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0;
    left                : 52%;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
  }
  .Header .newicon .fill1 {
    background-color    : rgba(255, 255, 255, 0.0);
    top                 : 0px;
    height              : 100px;
    width               : 100px;
    position            : relative;
    margin              : 0;
    left                : 0%;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
  }
  .Header .newicon .fill2 {
    background-color    : rgba(255, 255, 255, 0.0);
    top                 : 40px;
    height              : 20px;
    width               : 18px;
    position            : absolute;
    margin              : 0;
    left                : 12.5px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
  }
  .Header .newicon .fill3 {
    background-color    : rgba(255, 255, 255, 0.0);
    top                 : 40px;
    height              : 20px;
    width               : 14px;
    position            : absolute;
    margin              : 0;
    left                : 42px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
  }
  .Header .newicon .fill4 {
    background-color    : rgba(255, 255, 255, 0.0);
    top                 : 40px;
    height              : 20px;
    width               : 28px;
    position            : absolute;
    margin              : 0;
    left                : 65px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
  }