@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

@font-face {
  font-family: "FontAwesome5FreeSolid";
  src: url('../fonts/Font\ Awesome\ 5\ Free-Solid-900.otf') format("opentype");
}

input[type=text] {padding:5px; border:2px solid #ccc; 
  -webkit-border-radius: 5px;
      border-radius: 5px;
      font-size: 14px;
  }
  input[type=text]:focus {border-color:#333; }
  
  input[type=submit] {padding:5px 15px; background:#ccc; border: none;
      cursor:pointer;
      margin: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      font-family: "Noto Sans";
      font-size: 14px;
     }