@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

@font-face {
  font-family: "FontAwesome5FreeSolid";
  src: url('../fonts/Font\ Awesome\ 5\ Free-Solid-900.otf') format("opentype");
}
.Rightpanel .titleline {
    background-color    : rgba(255, 255, 255, 0.0);
    top                 : 5%;
    height              : 0.75%;
    width               : 25%;
    position            : absolute;
    margin              : 0%;
    left                : 72%;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
  }

.Rightpanel .youcandoityourse {
    background-color    : rgba(255, 255, 255, 0.0);
    top                 : 7%;
    height              : auto;
    width               : 25%;
    position            : absolute;
    margin              : 0;
    left                : 72%;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Noto Sans", Helvetica, Arial, serif;
    font-weight         : 700;
    font-style          : normal;
    font-size           : 2vw;
    color               : rgba(51, 51, 51, 1.0);
    text-align          : center;
    line-height         : 150%;
  }
  .Rightpanel .delivery {
    background-color    : rgba(255, 255, 255, 0.0);
    top                 : 20%;
    height              : 150px;
    width               : auto;
    position            : absolute;
    margin              : 0.1%;
    left                : 74%;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
  }
  .Rightpanel .delivery .delivery1 {
    background-color    : rgba(255, 255, 255, 0.0);
    top                 : 0%;
    height              : 50%;
    width               : 100%;
    position            : relative;
    margin              : 0.1%;
    left                : 0%;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
  }
  .Rightpanel .wedeliver {
    background-color    : rgba(255, 255, 255, 0.0);
    top                 : 18%;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 1%;
    left                : 86%;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Noto Sans", Helvetica, Arial, serif;
    font-weight         : 700;
    font-style          : normal;
    font-size           : 1.5vw;
    color               : rgba(51, 51, 51, 1.0);
    text-align          : left;
    line-height         : 33.0px;
  }
  .Rightpanel .seemoreondelivery {
    background-color    : rgba(255, 255, 255, 0.0);
    top                 : 25%;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 1%;
    left                : 86%;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Noto Sans", Helvetica, Arial, serif;
    font-weight         : 400;
    font-style          : normal;
    font-size           : 1.25vw;
    color               : rgba(0, 91, 156, 1.0);
    text-align          : left;
    line-height         : 18.0px;
  }
  .Rightpanel .seemoreonassembly {
    background-color    : rgba(255, 255, 255, 0.0);
    top                 : 39%;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 1%;
    left                : 86%;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Noto Sans", Helvetica, Arial, serif;
    font-weight         : 400;
    font-style          : normal;
    font-size           : 1.25vw;
    color               : rgba(0, 91, 156, 1.0);
    text-align          : left;
    line-height         : 18.0px;
  }
  .Rightpanel .weassemble {
    background-color    : rgba(255, 255, 255, 0.0);
    top                 : 32%;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 1%;
    left                : 86%;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Noto Sans", Helvetica, Arial, serif;
    font-weight         : 700;
    font-style          : normal;
    font-size           : 1.5vw;
    color               : rgba(51, 51, 51, 1.0);
    text-align          : left;
    line-height         : 33.0px;
  }
  .Rightpanel .pricedelivery {
    background-color    : rgba(255, 255, 255, 0.0);
    top                 : 21%;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0;
    left                : 86%;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Noto Sans", Helvetica, Arial, serif;
    font-weight         : 700;
    font-style          : normal;
    font-size           : 1.5vw;
    color               : rgba(51, 51, 51, 1.0);
    text-align          : left;
    line-height         : 33.0px;
  }
  .Rightpanel .priceassembly {
    background-color    : rgba(255, 255, 255, 0.0);
    top                 : 35%;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0;
    left                : 86%;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Noto Sans", Helvetica, Arial, serif;
    font-weight         : 700;
    font-style          : normal;
    font-size           : 1.5vw;
    color               : rgba(51, 51, 51, 1.0);
    text-align          : left;
    line-height         : 33.0px;
  }

  .Rightpanel .assembleicon {
    background-color    : rgba(255, 255, 255, 0.0);
    top                 : 31%;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0;
    left                : 75%;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
  }
  .Rightpanel .assembleicon .part1 {
    background-color    : rgba(255, 255, 255, 0.0);
    top                 : 57px;
    height              : 50px;
    width               : 62px;
    position            : absolute;
    margin              : 0;
    left                : 30px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
  }
  .Rightpanel .assembleicon .part2 {
    background-color    : rgba(255, 255, 255, 0.0);
    top                 : 36px;
    height              : 60px;
    width               : 69px;
    position            : absolute;
    margin              : 0;
    left                : 0px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
  }
  .Rightpanel .assembleicon .part3 {
    background-color    : rgba(255, 255, 255, 0.0);
    top                 : 0px;
    height              : 30px;
    width               : 30px;
    position            : absolute;
    margin              : 0;
    left                : 19px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
  }
  .Rightpanel .assembleicon .part4 {
    background-color    : rgba(255, 255, 255, 0.0);
    top                 : 51px;
    height              : 4px;
    width               : 12px;
    position            : absolute;
    margin              : 0;
    left                : 38px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
  }